<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' tyle='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' tyle='text/css'>
<link href='/themes/fleur/styles.less' rel='stylesheet/less' tyle='text/css'>

<div class='header'>
    <div class='banner'>
        <span class='flower' data-icon="5" aria-hidden="true"></span>
        <h3>{{blog.title}}</h3>
        <div class='media'>
            <a ng-if='blog.twitter' ng-href='http://twitter.com/{{blog.twitter}}' target='_blank'><span data-icon="!" aria-hidden="true"></span></a> 
            <a ng-if='blog.facebook' ng-href='http://facebook.com/{{blog.facebook}}' target='_blank'><span data-icon="#" aria-hidden="true"></span></a> 
            <a ng-if='blog.github' ng-href='http://github.com/{{blog.github}}' target='_blank'><span data-icon="*" aria-hidden="true"></span></a> 
            <div class='desc' ng-bind='blog.desc'></div>
        </div>
    </div>
</div>{{ numbers | limitTo:limit }}

<div class='post' ng-repeat="p in posts | limitTo: blog.postsPerPage">
    <h3 ng-bind='p.title' ng-click='showPost(p.id)'></h3> 
    <div ng-bind-html-unsafe='p.content'></div>
</div>
